@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass/Overpass-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass/Overpass-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Border radius */
    --radio-button-border-radius: 50%;

    /* Colors */
    --white: hsl(0 100% 100%);
    --black: hsl(0 0% 0%);

    --grey-950: hsl(216 12% 8%);
    --grey-900: hsl(213 19% 18%);
    --grey-500: hsl(217 12% 63%);

    --orange: hsl(25 97% 53%);

    --gradient: linear-gradient(hsl(215 20% 17%), hsl(216 24% 12%));

    /* Color settings */
    --background: var(--grey-950);
    --body-color: var(--grey-500);
    --heading-color: var(--white);
    --main-background: var(--gradient);
    --radio-button-background: var(--grey-900);
    --radio-button-background-checked: var(--white);
    --radio-button-background-hover: var(--orange);
    --radio-button-color: var(--grey-500);
    --radio-button-color-checked: var(--grey-900);
    --radio-button-color-hover: var(--grey-900);
    --submit-background: var(--orange);
    --submit-background-hover: var(--white);
    --submit-color: var(--grey-950);

    /* Font family */
    --overpass: "Overpass", Tahoma, sans-serif;

    /* Font sizes */
    --heading-font-size: clamp(1.5rem, 1.0178vw + 1.2615rem, 1.75rem);
    --body-font-size: clamp(.875rem, .2375vw + .8193rem, .9333rem);
    --radio-button-font-size: clamp(.875rem, .5089vw + .7557rem, 1rem);
    --submit-font-size: 0.875rem;
    
    /* Font weights */
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;

    --heading-font-weight: var(--bold);
    --body-font-weight: var(--regular);
    --radio-button-font-weight: var(--bold);
    --submit-font-weight: var(--bold);

    /* Line heights */
    --heading-line-height: 1.25;
    --body-line-heigth: 1.6;
    --radio-button-line-height: clamp(1.125rem, 1.5267vw + .7672rem, 1.5rem);
    --submit-line-height: 1.2857143;

    /* Letter spacings */
    --heading-letter-spacing: 0;
    --body-letter-spacing: 0;
    --radio-button-letter-spacing: clamp(.0125rem, -.4249vw + .2165rem, .1169rem);
    --submit-letter-spacing: clamp(.0106rem, -.4326vw + .2183rem, .1169rem);

    /* Paddings*/
    --radio-button-padding-block: clamp(8px, 2.0356vw + .3664px, 16px);
    --radio-button-padding-inline: clamp(16px, 2.0356vw + 8.3664px, 24px);
}

@media (min-width: 768px) {

:root {
    /* Line heights */
    --submit-line-height: 1.7142857;

    /* Font weights */
    --submit-font-weight: var(--semi-bold);
}

}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: var(--background);
    color: var(--body-color);
    font-family: var(--overpass);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-heigth);
    letter-spacing: var(--body-letter-spacing);
}

button {
    display: block;
    font-family: inherit;
    font-size: var(--submit-font-size);
    font-weight: var(--submit-font-weight);
    line-height: var(--submit-line-height);
    letter-spacing: var(--submit-letter-spacing);
    background: var(--submit-background);
    color: var(--submit-color);
}

fieldset {
    border: none;
}

h1 {
    color: var(--heading-color);
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
    font-weight: var(--heading-font-weight);
}

[hidden] {
    display: none !important;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input[type="radio"] {
    appearance: none;
}

label {
    display: block;
    width: max-content; /* Privremeno? */
    background: var(--radio-button-background);
    color: var(--radio-button-color);
    font-size: var(--radio-button-font-size);
    font-weight: var(--radio-button-font-weight);
    line-height: var(--radio-button-line-height);
    letter-spacing: var(--radio-button-letter-spacing);
    padding: var(--radio-button-padding-block) var(--radio-button-padding-inline);
    border-radius: var(--radio-button-border-radius);
}

input[type="radio"]:checked + label {
    background: var(--radio-button-background-checked);
    color: var(--radio-button-color-checked);
}

main {
    background: var(--main-background);
}

@media (hover: hover) {
    button:hover {
        background: var(--submit-background-hover);
        cursor: pointer;
    }

    label:hover {
        background: var(--radio-button-background-hover);
        color: var(--radio-button-color-hover);
        cursor: pointer;
    }
}
