@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass/Overpass-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass/Overpass-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}

fieldset {
    border: none;
}

[hidden] {
    display: none !important;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
